.footer

  padding: 4rem 0
  background: $black
  text-align: center

  p,li,a
    color: white
    text-transform: uppercase
    font-size: rem-calc(12px)
    letter-spacing: lscalc(50)

  a
    text-decoration: none

    &:hover
      text-decoration: underline

  .copyright

    p
      margin-bottom: 25px;

  .footer__address

    display: block
    +breakpoint( large )
      display: inline

  .pipe
    display: inline-block
    margin-left: 4px
    margin-right: 4px

  .wood-logos,
  .affiliation-logos

    a
      display: inline-block
      margin-right: rem-calc(40px)

      +breakpoint(small only)
        margin-right: 0

  .wood-logos

    margin-top: 0
    margin-bottom: 1.5rem

    a
      +breakpoint(small only)
        display: block

      +breakpoint(small only)
        margin-top: 1.5rem

      &:first-of-type

        +breakpoint(small only)
          margin-top: 0

      &:last-of-type
        margin-right: 0

  .affiliation-logos

    +breakpoint(small only)
      margin-bottom: 0

    img
      margin-right: rem-calc(25px)

      &:last-of-type

        +breakpoint(small only)
          margin-right: 0

  .footer-disclosure p
    margin-top: 0
