.header
  height: 157px
  position: sticky
  top: 0
  left: 0
  background-color: $gray-blue
  padding: 0
  z-index: 2

  +breakpoint(small only)
    height: 100px

  .grid-container,
  .grid-x,
  .cell
    height: 100%

  .header__logo
    display: flex
    text-decoration: none

  .header__logo img
    width: 306px
    max-width: 100%

  .decor
    position: absolute
    width: 395px
    height: 14px
    bottom: -7px
    left: 0
    z-index: 2


  .header-links
    text-decoration: none
    color: white
    padding-right: 50px
    font-family: $presicav_bold
    font-size: 14px !important

    &:hover
      color: #B46848

    .button
      font-family: $presicav_bold
      font-size: 14px!important

      &:hover
        background-color: #B46848
        color: white


  .do-not-display
    display: none

@media only screen and (max-width: 768px)
  .header-links
    display: none

@media only screen and (max-width: 726px) and (max-height: 726px)
  .header__logo
    .logo-light
      display: none
