html

  &.is-open
    +breakpoint(medium down)
      overflow: hidden // prevent scrolling with nav overlay

body
  background: white

  a
    text-decoration: none

.site
  .is-open &
    +breakpoint(medium down)
      height: 100vh
      position: relative
      overflow-y: hidden

  .is-open &:after
    +breakpoint(medium down)
      content: ''
      background: white
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 2
      opacity: 0.98

main section 
  padding-top: 3rem 
  padding-bottom: 3rem

main section 

  &.nopadding-top 
    padding-top: 0

    +breakpoint(medium down) 
      padding-top: 3rem

  &.nopadding-bottom 
    padding-bottom: 0

    +breakpoint(medium down) 
      padding-bottom: 3rem

  &.paddingtop-small
    padding-top: 3rem

  &.paddingbottom-small
    padding-bottom: 3rem

  &.paddingtop-medium
    padding-top: 6rem

  &.paddingbottom-medium
    padding-bottom: 6rem

  &.paddingtop-large
    padding-top: 9rem

  &.paddingbottom-large
    padding-bottom: 9rem

  &.paddingtop-xlarge
    padding-top: 12rem

    +breakpoint(small only) 
      padding-top: 3rem

  &.paddingbottom-xlarge
    padding-bottom: 12rem

    +breakpoint(small only) 
      padding-bottom: 3rem

  &.paddingtop-xxlarge
    padding-top: 15rem

    +breakpoint (medium down) 
      padding-top: 6rem

    +breakpoint(small only) 
      padding-top: 3rem

  &.paddingbottom-xxlarge
    padding-bottom: 15rem

    +breakpoint (medium down) 
      padding-bottom: 6rem

.grid-container.fluid 
  padding-left: 3rem 
  padding-right: 3rem

  +breakpoint(medium down) 
    padding-left: 2rem 
    padding-right: 2rem

  +breakpoint(small only) 
    padding-left: 2rem
    padding-right: 2rem
