.button
  // width: 232px
  // height: 48px
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 1.5em 2em
  border: none
  border-radius: 0
  background: white
  color: black
  font-family: presicav, sans-serif
  font-weight: 700
  text-decoration: none
  text-transform: uppercase
  transition: color 0.3s $easing, background 0.3s $easing

  &:hover
    background-color: black
    color: white

  .icon
    margin-left: .75em
