.nav--header

  li 
    margin-top: 0

  li a 
    color: $white
    font-family: $presicav_bold
    font-size: rem-calc(12px)
    text-decoration: none
    text-transform: uppercase
    letter-spacing: .1em

  li:first-child 
    margin-left: 0

.nav--footer
  display: flex
  justify-content: flex-end

.nav__list
  display: flex
  justify-content: center
  flex-direction: column
  margin: 0
  padding: 0
  list-style: none

  +breakpoint(medium)
    flex-direction: row

  li
    margin-top: 0
    margin-right: 2.5rem
    margin-bottom: 0

    &:last-child
      margin-right: 0

  a 
    text-decoration: none

  .nav--header & li
    +breakpoint(medium down)
      opacity: 0
      transition: opacity 0.2s ease-out-cubic

      .is-open &
        opacity: 1
        transition: opacity 0.4s ease-out-cubic
