.offcanvas

  display: none
  position: fixed
  width: 100%
  height: 100vh
  background: $white
  overflow: hidden
  z-index: 4

  &:after
    content: ''
    width: 227px
    height: 252px
    position: absolute
    bottom: -6rem
    right: 6rem
    background: url('../assets/images/nav-decor1.svg') center center / cover no-repeat

  .grid-container,
  .grid-x,
  .mobile-links-top,
  .mobile-links-bottom
    height: 100%

  .mobile-links-top,
  .mobile-links-bottom
    +breakpoint(medium down)
      height: auto
      align-items: start

    +breakpoint(small only)
      height: auto

  .mobile-links-bottom
    padding-top: 0

  .offcanvas-left
    position: relative
    background-color: #B46848

    +breakpoint(medium down)
      display: none

    +breakpoint(small only)
      display: none

    .offcanvas-access-left
      height: 480px
      display: flex
      flex-direction: column
      justify-content: center
      //margin-top: 9rem

    &>.grid-container
      width: 100%

    .copy h3
      font-family: $presicav_bold
      font-size: rem-calc(32px)
      font-weight: 700
      text-transform: uppercase
      letter-spacing: .01em
      padding-bottom: 20px

      +breakpoint(large down)
        font-size: rem-calc(32px)

        +breakpoint(landscape)
          font-size: rem-calc(20px)

      +breakpoint(medium down)
        font-size: 24px

    .copy p
      // font-family: $proxima-nova
      font-size: 18px
      font-weight: 300
      color: white !important
      padding-bottom: 20px

      +breakpoint(large down)
        font-size: 14px

    .schedule-tour, .apply-now

      font-size: 14px
      color: #B46848

      &:hover
        background-color: #B46848
        color: $white
        border: solid 1px $white

      +breakpoint(medium down)
        padding: 1rem
        letter-spacing: 1px
        font-size: 14px

    .find-us
      margin-top: 6rem

      +breakpoint(large down)
        +breakpoint(portrait)

      a
        //color: $dark_blue

      p
        +breakpoint(large down)
          font-size: 14px

      .decor1
        width: 426px
        height: 20px
        position: absolute
        bottom: 6rem
        right: 0
        background: url(../assets/images/slider-decor1.svg) center center / cover no-repeat
        z-index: 3

        +breakpoint(large down)
          display: none

      .decor2
        width: 288px
        height: 20px
        position: absolute
        top: auto
        bottom: 3rem
        left: -11.1rem
        background: url(../assets/images/slider-decor2.svg) center center / cover no-repeat
        z-index: 3

        +breakpoint(large down)
          display: none

  .offcanvas-right

    background-image: url('/wp-content/uploads/2021/10/Group-2371@2x-1.png')
    background-position: center
    background-size: cover

    .offcanvas-access-right

      height: 480px

      +breakpoint(medium down)
        height: auto
        +breakpoint(landscape)
          display: none

      +breakpoint(small only)
        +breakpoint(landscape)
          display: none

      .grid-container
        padding-left: 0
        padding-right: 0

      nav ul

        +breakpoint(medium down)
          margin-bottom: 1.5rem

      nav li
        margin-bottom: 2rem
        line-height: 1
        margin-top: 0px !important

        +breakpoint(large down)
          margin-bottom: 2rem

          +breakpoint(portrait)
            margin-bottom: 3rem

        +breakpoint(medium down)
          margin-bottom: .5rem

      nav li:last-child
        margin-bottom: 0

      nav a
        color: $white
        text-decoration: none
        font-size: rem-calc(32px)
        text-transform: uppercase
        letter-spacing: 2px
        font-family: $presicav_bold

        +breakpoint(large down)
          font-size: rem-calc(32px)

          +breakpoint(landscape)
            font-size: rem-calc(20px)

        +breakpoint(medium down)
          font-size: rem-calc(16px)

        +breakpoint(small only)
          font-size: rem-calc(16px)

          +breakpoint(landscape)
            font-size: 18px
            margin-right: 1rem

        &:hover
          color: $white

      .links ul
        +breakpoint(medium down)
          +breakpoint(landscape)
            display: flex

      .links li
        margin-bottom: 1.4rem
        margin-top: 0px

        +breakpoint(medium down)
          margin-top: 0

        +breakpoint(small only)
          margin-top: 0

      .links a,
      .review-links a
        color: $white
        text-decoration: none
        font-family: $presicav_bold
        font-size: 16px
        font-weight: 700
        letter-spacing: 2px
        text-transform: uppercase

        +breakpoint(large down)
          font-size: 14px

        +breakpoint(medium down)
          font-size: 12px

          +breakpoint(portrait)
            font-size: 10px

        &:hover
          color: $white

      .review-links a img
        padding-right: 10px
        padding-bottom: 15px

      .links a
        +breakpoint(medium down)
          +breakpoint(landscape)
            margin-right: 1rem

      .links .pipe,
      .review-links .pipe
          color: $white

      .review-links
        padding-top: 12rem

        +breakpoint(medium down)
          padding-top: 1rem

        +breakpoint(small only)
          padding-top: 1rem

      .review-links ul
        margin-top: 0
        padding-top: 3rem

        +breakpoint(medium down)
          padding-top: 1rem

        +breakpoint(small only)
          padding-top: 1rem

      .review-links p
        color: $white
        //font-family: $monospace
        font-size: rem-calc(14px)
        text-transform: uppercase
        font-weight: 300

        +breakpoint(medium down)
          font-size: 12px

      .review-links .pipe
        +breakpoint(medium down)
          display: none

      .apply-now
        max-width: 165px
        padding: 1rem

    .review-links ul
      list-style: none

    .review-links ul li
      margin-top: 1.4rem
      margin-right: .5rem

      +breakpoint(medium down)
        margin-top: 0

    .review-links ul li:first-child
      margin-top: 0

    .review-links ul li:last-child
      margin-right: 0

    .review-links ul li.google a
      width: 36px
      height: 36px
      display: block
      background-image: url(../assets/images/google-g-icon.png)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      position: relative

@media only screen and (max-height: 720px)
  .offcanvas
    .grid-container
      height: 110%

    .offcanvas-access-right
      nav
        li
          margin-bottom: 1rem !important

      .review-links
        padding-top: 6rem !important

@media only screen and (max-height: 600px)
  .offcanvas
    .grid-container
      height: 115%

    .offcanvas-left
      .copy
        p
          padding-bottom: 0px

    .offcanvas-access-right
      nav
        a
          font-size: 1.5rem !important

      .review-links
        padding-top: 4rem !important

@media only screen and (max-height: 525px)
  .offcanvas
    .grid-container
      height: 124%

    .offcanvas-left
      .copy
        h3
          font-size: 1.1rem

@media only screen and (max-width: 525px)
  .offcanvas
    .grid-x
      overflow: auto

    .offcanvas-access-right
      nav
        a
          font-size: 1rem !important
      .links
        li
          margin-bottom: 1rem !important

    .hidden
      display: none !important
