.promo-bar 

  position: relative
  background: $black
  color: $white
  padding: 1rem
  text-align: center
  cursor: pointer
  z-index: 9998

  h6 
    font-weight: 500

  .is-open & 
    position: absolute