// Foundation includes
// Global styles
$body-antialiased: false
+foundation-global-styles

// Grids
+foundation-xy-grid-classes( $base-grid: true, $margin-grid: true )

// Helpers
+foundation-flex-classes
+foundation-visibility-classes

// Global styles
html
  box-sizing: border-box
  text-size-adjust: 100%

  &.is-open
    +breakpoint(medium down)
      overflow: hidden // prevent scrolling with nav overlay

  *,
  *:before,
  *:after
    box-sizing: inherit

html,
body,
p,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

ul
  margin: 0
  padding: 0
  list-style: none

main ul
  margin: 0
  padding: 0
  margin-top: 1.5rem
  margin-left: 1rem
  list-style: disc

ul li,
ol li
  color: #57534c
  font-family: 'brother-1816', sans-serif
  font-size: rem-calc(18px)
  font-weight: 200

ul li::marker 
  font-size: 14px

body,
button,
input,
select,
textarea
  font: 16px/1 $font-sans

article,
aside,
figure,
footer,
header,
hgroup,
section
  display: block

img
  height: auto
  max-width: 100%

::-moz-selection
  background: $selection-bg
  color: $selection-color

::selection
  background: $selection-bg
  color: $selection-color

.site
  
  .is-open &
    height: 100vh
    overflow-y: hidden

  .is-open &:after
    content: ''
    //background: $white
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    opacity: 0.98

  .is-open & .offcanvas 
    display: block
    

  .is-open & .header-cta a
    visibility: hidden
    opacity: 0

  .is-open & .header
    width: 100%
    position: absolute
    background: transparent
  
  .is-open & .header__logo img 
    position: relative
    z-index: 4

  .is-open & .header nav 
    visibility: hidden
    opacity: 0

// WordPress default classes
.alignnone,
a img.alignnone
  margin: 0

.alignright,
a img.alignright
  float: right
  margin: 0.5rem 0 1rem 1rem

.alignleft,
a img.alignleft
  float: left
  margin: 0.5rem 1rem 1rem 0

.aligncenter,
div.aligncenter,
a img.aligncenter
  display: block
  margin: 0.5rem auto 1rem auto

// WordPress caption classes
.wp-caption
  padding: 0
  border: none
  margin-top: 1.5rem
  background: $light-gray
  text-align: center

  &:first-child
    margin-top: 0

  img
    border: 0 none
    height: auto
    margin: 0
    padding: 0
    width: auto

  figure
    padding: 1rem

.wp-caption.alignnone
  margin-left: 0
  margin-right: 0
  margin-bottom: 0

.wp-caption.alignleft
  margin-left: 0
  margin-right: 1rem
  margin-bottom: 0

.wp-caption.alignright
  margin-left: 1rem
  margin-right: 0
  margin-bottom: 0

video.wp-video-shortcode,
.wp-video-shortcode video
  display: inline-block
  max-width: 100%

::-webkit-input-placeholder
  color: $gray
  font-family: $quarto_light
  font-size: rem-calc(14px)
  //letter-spacing: .1em

::-moz-placeholder
  color: $gray
  font-family: $quarto_light
  font-size: rem-calc(14px)
  //letter-spacing: .1em

::-ms-input-placeholder
  color: $gray
  font-family: $quarto_light
  font-size: rem-calc(14px)
  //letter-spacing: .1em

::-moz-placeholder
  color: $gray
  font-family: $quarto_light
  font-size: rem-calc(14px)
  //letter-spacing: .1em