body
  @include font-block()
  font-size: 16px
  line-height: 1.6
  font-weight: 400

h1, h2, h3, h4, h5, h6

  color: $white
  font-family: $presicav_bold
  letter-spacing: .1em

  &:first-child
    margin-top: 0

h1
  font-size: rem-calc(72px)
  font-weight: 700
  line-height: 1.2
  letter-spacing: .1em

  +breakpoint(large down) 
    font-size: rem-calc(72px)

  +breakpoint(medium down)
    font-size: rem-calc(60px)

  +breakpoint(small only) 
    font-size: rem-calc(32px)

h2
  font-weight: 700
  line-height: 1.2

h3
  font-size: rem-calc(28px)
  font-weight: 700
  line-height: 1.2

h4
  font-size: rem-calc(28px)
  font-weight: 700
  line-height: 1.5

  +breakpoint(large down) 
    font-size: rem-calc(20px)

h5
  font-size: 18px
  font-weight: 700

h6
  font-size: 16px
  font-weight: 700
  line-height: 1.5

p
  margin-top: 1.5rem
  color: $gray
  font-size: 18px
  line-height: 1.5

strong 
  color: $gray

ul
  margin-top: 1.5rem
  margin-bottom: 0

  &:first-child
    margin-top: 0

li
  margin-top: 0.5rem
  color: inherit
  font-size: 16px
  font-weight: 400
  line-height: 1.5

a
  text-decoration: underline
  transition: color 0.3s ease-out-cubic

  &:hover
    color: black

strong
  color: inherit

hr
  height: 2px
  margin: 2rem 0
  background: $light-gray
  outline: none
  border: none
