// Colors

$gray: #57534C
$gray-blue: #799CAF
$gray-brown: #56534D
$gray-light: #f4f4f4
$brown: #B46848

// Text selection colors
$selection-color: white
$selection-bg: $gray

// Typography
$font-sans: sans-serif
$font-sans-ext: sans-serif
$font-serif: serif
$header-font: sans-serif

$presicav_bold: 'presicav',sans-serif
$quarto_light: 'quarto-light', sans-serif

// Miscellaneous
$easing: ease-out-cubic // uses rucksack easing
$radius: 3px
$speed: 200ms

// Foundation Overrides
// Grid
$grid-container: 1440px
$grid-columns: 12
$grid-margin-gutters: ( small: 2rem )
$grid-padding-gutters: $grid-margin-gutters
$grid-container-padding: $grid-padding-gutters

// Breakpoints
$breakpoints: (small: 0, small-medium: 640px, medium: 768px, large: 1024px, xlarge: 1200px, xxlarge: 1440px, xxxlarge: 1600px)
$breakpoint-classes: (small small-medium medium large xlarge xxlarge xxxlarge)

@mixin font-block()
    font-family: brother-1816,sans-serif
    font-weight: 500
    font-style: normal
