.orange-border-top
  border-top: 6px solid #AB6B4E
  width: 64px
  margin: auto

.copy-subpage-text
  text-align: center

p
  font-family: $quarto_light

@media only screen and (max-width: 1023px)
  .copy-extra-space
    display: none