.cta-contact 
  background-color: #2A4442
  position: relative

  .cta-logo
    z-index: 1

  .decor-right 
    position: absolute 
    right: 0 
    top: 0
    z-index: 0

  .cta-contact-info 

    z-index: 1

    p 
      margin-top: 0
      color: white
      line-height: 2.5
      padding-bottom: 20px
      font-family: $quarto_light
    
    .address,
    .phone,
    .hours
      display: inline-block
      color: $white

    .phone,
    .hours,
    .button
      margin-top: 1.5rem
      margin-right: 1.5rem
      width: 180px
      font-size: 12px
      background-color: #B46848
      color: white


    .address a 
      color: $white 
      border-bottom: 1px solid $white
      text-decoration: none

    .phone a 
      color: $white
      text-decoration: none

  .cta-links

    position: relative 
    z-index: 1

    .text-us, 
    .live-chat
      font-family: $presicav_bold


    .text-us,
    .live-chat,
    .facebook,
    .instagram 
      display: block
      margin-top: 1.5rem
      color: $white
      font-size: rem-calc(18px)
    
    .text-us
      margin-top: 0

    .facebook,
    .instagram 
      display: inline-block
      margin-right: 1.5rem
