section.contact-cta

  position: relative

  &.paddingbottom-large

    +breakpoint(medium down) 
      padding-bottom: 4rem

  h2 
    position: relative
    font-size: rem-calc(50px)
    color: $black
    text-transform: uppercase
    letter-spacing: .2em
    //z-index: 1

    +breakpoint(small only) 
      font-size: rem-calc(32px)

  .copy 

    position: relative 

    img 
      position: absolute 
      top: 50% 
      left: 50% 
      transform: translate(-50%,-50%)
      z-index: 0

      +breakpoint(small only) 
        max-width: 50%

  #watermark 
    width: 100%
    position: absolute 
    bottom: 0 
    left: 50% 
    transform: translateX(-50%)
    z-index: 0

    img 
      width: 100%
      height: 100%
