.contact-form-cta

  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  margin-top: 9rem

  &.paddingbottom-large

    +breakpoint(medium down)
      padding-bottom: 4rem

  h2
    position: relative
    font-size: rem-calc(30px)
    color: $gray-brown
    text-transform: uppercase
    z-index: 1

    +breakpoint(medium down)
      font-size: rem-calc(24px)

    +breakpoint(small only)
      font-size: rem-calc(18px)

    &:before
      content: ''
      width: 52px
      height: 7px
      position: absolute
      top: -1.5rem
      left: 50%
      transform: translateX(-50%)
      background-color: $brown

  .gf_simple_horizontal
    display: flex
    justify-content: center

    +breakpoint(medium down)
      flex-direction: column

  .gform_wrapper .gf_simple_horizontal .gform_body

    +breakpoint(medium down)
      width: 100%
      max-width: 100%

  .gform_wrapper .gf_simple_horizontal .gfield, .gform_wrapper .gf_simple_horizontal .ginput_container

    +breakpoint(medium down)
      width: 100%

  .gform_wrapper .gf_simple_horizontal .gform_body .top_label .gfield

    +breakpoint(medium down)
      display: flex

  .gform_wrapper .gf_simple_horizontal .gform_footer.top_label

    +breakpoint(medium down)
      margin-top: 1.5rem

  .copy
    position: relative
    padding: rem-calc(70px) rem-calc(70px) rem-calc(30px)
    border: 10px solid #AB6B4E
    margin-bottom: 4rem
    margin-top: -4rem

    +breakpoint(medium down)
      padding: 2.5rem 2rem
      transform: translateY(0)

    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 1

  #watermark
    width: 100%
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 0

    img
      width: 100%
      height: 100%

  .gform_wrapper
    margin-top: 3rem

  .gform_wrapper.gravity-theme input[type=color],
  .gform_wrapper.gravity-theme input[type=date],
  .gform_wrapper.gravity-theme input[type=datetime-local],
  .gform_wrapper.gravity-theme input[type=datetime],
  .gform_wrapper.gravity-theme input[type=email],
  .gform_wrapper.gravity-theme input[type=month],
  .gform_wrapper.gravity-theme input[type=number],
  .gform_wrapper.gravity-theme input[type=password],
  .gform_wrapper.gravity-theme input[type=search],
  .gform_wrapper.gravity-theme input[type=tel],
  .gform_wrapper.gravity-theme input[type=text],
  .gform_wrapper.gravity-theme input[type=time],
  .gform_wrapper.gravity-theme input[type=url],
  .gform_wrapper.gravity-theme input[type=week],
  .gform_wrapper.gravity-theme select,
  .gform_wrapper.gravity-theme textarea
    background-color: transparent
    border: 0
    border-bottom: 1px solid $gray
    //margin-top: 1.5rem
    //margin-bottom: 3rem
    padding-left: 0

  .gform_wrapper.gravity-theme .gform_footer,
  .gform_wrapper.gravity-theme .gform_page_footer
    text-align: center

  .gform_wrapper.gravity-theme .gform_footer button,
  .gform_wrapper.gravity-theme .gform_footer input,
  .gform_wrapper.gravity-theme .gform_page_footer button,
  .gform_wrapper.gravity-theme .gform_page_footer input
    width: 125px
    height: 40px !important
    margin: 0
    padding: 0
    background-color: $brown
    color: white
    font-family: $presicav_bold
    font-size: rem-calc(12px)
    letter-spacing: .1em

    &:hover
      background-color: white
      color: $brown
      border: solid 1px $brown

  .gform_wrapper.gravity-theme .gfield_label
    text-transform: uppercase

  .gform_confirmation_message
    margin-top: 3rem
    text-align: center

  .gform_wrapper.gravity-theme .gfield input.large
    padding-left: .5rem
    margin-bottom: 1.5rem

  .gform_wrapper.gravity-theme .gfield input.large:focus
    outline: 0
    box-shadow: 0


