.faq-list
  border: none

.faq-title
  border: none
  font-size: 24px
  font-family: $presicav_bold
  font-weight: 700
  color: #B46848
  padding-left: 0px 
  text-decoration: none

  &:hover
    color: #B46848

  p
    font-family: $quarto_light

.faq-item
  margin-bottom: 40px

.full-faq
  .grid-container
    padding-bottom: 40px

.faq-filters
  display: flex
  margin: 50px 20px 20px 0px !important
  list-style: none !important

  li
    margin-right: 80px
    
    .menu-option
      font-size: 16px
      font-family: $presicav_bold
      color: #B46848

      &:hover
      font-size: 18px

.bottom-faq-background-spacer
  margin-bottom: -12rem

    


.faq-menu-mobile
  display: none          

.faq-dropdown
  button
    border: solid 1px black
    padding: 15px
    width: 180px
    margin-bottom: 0px
    background-color: #B46848
    color: white
  
    &:hover
      background-color: white 
      color: #B46848 

.faq-dropdown-menu 
  display: none
  list-style: none !important

.faq-dropdown:hover, .faq-dropdown:focus 
  .faq-dropdown-menu
    margin-left: 0px !important
    display: block
    text-align: center
    border: solid 1px black
    padding: 15px
    margin-top: 0px
    background-color: white
    border-top: 1px solid #B46848
    li 
      a 
        color: #B46848
        text-decoration: none 
      a:hover
        color: #B46848
        text-decoration: underline
        cursor: pointer

@media only screen and (max-width: 1023px)
  .full-faq
    padding-top: 0px !important

@media only screen and (max-width: 768px)
  .faq-menu
    display: none
   
  .faq-menu-mobile
    display: flex
    justify-content: center
    margin-top: 40px 
    margin-bottom: 40px