.floorplans
  position: relative
  background-color: #fff

  &:after 
    content: '' 
    width: 300px 
    height: 90%
    position: absolute 
    top: 0 
    right: 0

    +breakpoint(medium down) 
      display: none

  &.page-content
    padding-top: 6rem

    .page-content-col .section
      +breakpoint(medium)
        padding-left: 4rem
        padding-right: 4rem

  .plans-table 
    position: relative
    background: $white

  .floor-plan-tabs
    padding: 6rem 0rem
    h2 
      color: $brown
      text-transform: uppercase
    
        
.filter

  list-style: none
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin-bottom: 3rem 

  +breakpoint(small only) 
    flex-direction: column
    text-align: center

  li
    margin-left: 0px
    margin-top: 2rem
    flex-basis: 50%

    +breakpoint(large)
      flex-basis: auto
      margin: 0 rem-calc(20px)

    a
      padding: 0 .5rem .5rem .5rem
      letter-spacing: lscacl(100)
      font-family: $presicav_bold
      font-weight: 600
      text-transform: uppercase
      text-decoration: none
      color: black

      &:hover, &.mixitup-control-active
        color: #B46848
        border-bottom: 1px solid #B46848

.fp-wrapper
  border-bottom: 1px solid $black

.floor-plan-tabs h2 
  text-align: center
  font-size: rem-calc(36px)
  font-weight: normal

  +breakpoint(medium down) 
    font-size: rem-calc(20px)

.floor-plan-units
  margin: auto
  margin-left: 0

  .fp-details

    padding: 1rem 0 1rem

    +breakpoint(large)
      display: flex
      justify-content: space-between

    +breakpoint(medium down) 
      padding: 1rem 0 2rem

    div
      text-transform: uppercase
      
      +breakpoint(medium down)
        text-align: center

      p
        font-family: $quarto_light
        color: $black
        font-size: rem-calc(15px)
        letter-spacing: lscalc(100)
        
    .fp-name
  
      text-align: left
      width: 80px

      +breakpoint(large down) 
        width: 15% 
        text-align: left 

      +breakpoint(medium down)
        width: 100%
        text-align: center

      h4
        color: $black
        font-family: $presicav_bold
        font-size: rem-calc(22px)
        
    .fp-bath

      width: 85px

      +breakpoint(large down) 
        width: 10% 
        text-align: left

      +breakpoint(medium down) 
        width: 100% 
        text-align: center 

    .fp-price

      width: 175px

      +breakpoint(large down) 
        width: 30% 
        text-align: left

      +breakpoint(medium down) 
        width: 100% 
        text-align: center 

    .fp-specials

      display: none
      width: 170px

      +breakpoint(medium down) 
        width: 100%

      p
        //color: $aqua_dark

    .fp-room 

      +breakpoint(medium down) 
        width: 25%

      +breakpoint(medium down) 
        width: 100% 
        text-align: center

    .fp-btn
      width: 232px 
      height: 48px
      text-align: center
      //margin-top: rem-calc(16px)

      +breakpoint(medium down) 
        width: 250px
        margin: 0 auto

      .button
        padding: 1rem 0
        width: 100%
        max-width: 220px
        background-color: #B46848
        color: white

        &:hover, &.is-active 
          background-color: white
          color: #B46848
          border: solid 1px #B46848

      // hide the perq injected button
      .fw-cta-button
        display: none
      
            

  .fp-fullview
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    height: 0
    padding: 0
    margin-bottom: 40px
    overflow: hidden
      
    transition: all .5s $easing
    &.expand
      height: auto
      +breakpoint( large )
        padding: rem-calc(20px)
    
    h3

      color: $black
      //font-family: $chap-regular
      font-size: rem-calc(40px)
      font-weight: normal

      +breakpoint(medium down) 
        width: 100% 
        text-align: center

    p
      //font-family: $niveau-grotesk-regular
      font-size: rem-calc(16px)
      font-weight: normal
      text-transform: uppercase
      
    .fp-fullview--name
      max-width: 340px

      +breakpoint(medium down) 
        width: 100%
        max-width: 100%
        text-align: center

      h3 
        color: #B46848
        +breakpoint(medium down) 
          display: none

    .fp-fullview--image
      max-width: 450px

    .callout
      background-color: #B46848
      margin: 1rem 0
      padding: 1.5rem

      h5
        //font-family: $chap-regular
        font-size: rem-calc(20px)
        font-weight: normal

      p
        text-transform: none
        color: white
        margin-top: 0px !important
        padding-bottom: 1.5rem
      
        
    a
      //color: $aqua_dark
      text-decoration: none
      text-transform: uppercase

      &.button
        background: $white
        color: #B46848
        border: solid 1px #B46848
        //font-family: $chap-regular 
        font-size: rem-calc(18px) 
        font-weight: normal

        &:hover 
          background-color: #B46848
          color: white

.floorplan-menu-mobile
  display: none          

.floorplan-dropdown
  button
    border: solid 1px black
    padding: 15px
    width: 180px
    margin-bottom: 0px
    background-color: #B46848
    color: white
  
    &:hover
      background-color: white 
      color: #B46848 

.floorplan-dropdown-menu 
  display: none
  list-style: none !important

.floorplan-dropdown:hover, .floorplan-dropdown:focus 
  .floorplan-dropdown-menu
    margin-left: 0px !important
    display: block
    text-align: center
    border: solid 1px black
    padding: 15px
    margin-top: 0px
    background-color: white
    border-top: 1px solid #B46848
    li 
      a 
        color: #B46848
        text-decoration: none 
      a:hover
        color: #B46848
        text-decoration: underline
        cursor: pointer

@media only screen and (max-width: 1023px)
  .fp-btn
    padding-top: 20px

@media only screen and (max-width: 768px)
  .floorplan-menu
    display: none
   
  .floorplan-menu-mobile
    display: flex
    justify-content: center
    margin-top: 40px 
    margin-bottom: 40px
