.gallery-slider 

  position: relative

  .slider-container

    position: relative
    padding: 0

  .slider 
    height: 600px
    position: relative 
    overflow: hidden

    +breakpoint(small only) 
      height: 240px

  .slide img 
    position: relative
    display: block
    width: 100%
    height: 600px
    object-fit: cover

    +breakpoint(small only) 
      height: 240px

  .gallery-title 
    font-size: rem-calc(36px) 
    font-weight: normal
    text-align: center
    text-transform: uppercase

    .gallery & 
      font-size: rem-calc(36px)
      font-weight: normal
      text-align: center

  .image-title 
    padding-left: 10%
    text-align: left
    font-size: rem-calc(18px)
    font-weight: normal
  
  .slide 
    display: block
    width: 100%
    background-color: transparent

  .flickity-viewport,
  .flickity-slider,
  .slide
    height: 100% !important
    
  &.left .slider::before 
    right: -100px
    top: -50px
  

  &.right .slider::before 
    left: -100px
    top: -50px
  

  &.right.wide .slider::before 
    left: -100px
    top: auto
    bottom: -50px

  .slider-pagination 
    display: none

  .content 
    max-width: 600px

  .controls 
    width: 100%
    height: 50px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    margin-top: 0

  .slider-controls 
    height: 100%
    position: relative
    display: flex
    justify-content: space-between

  .slick-arrow 
    width: 56px
    height: 57px
    bottom: 0

  .slick-next:before, 
  .slick-prev:before
    display: none

  .slick-prev 
    left: 0

  .slick-next 
    right: 0
  

  &.wide .content 
    margin-bottom: 3rem

  @include breakpoint(medium) 
    &.square .content 
      margin-top: 3rem
    

    .slider-pagination 
      display: flex
    

    .slider-pagination 
      display: flex
      align-items: center
      justify-content: center
      width: 100px
      margin-left: auto
      margin-bottom: 0.5rem
      color: $white

      .current-slide 
        margin-right: 5px
        margin-bottom: -0.25em
        
        line-height: 1rem
      

      .total-slides 
        font-size: rem-calc(18px)
        line-height: 1rem
      
    

    &.left .slider-pagination,
    &.left .slider-controls 
      margin-left: 0
      margin-right: auto
    
  

  @include breakpoint(large) 
    &.square .content 
      margin-top: 0
    

    &.square.left .content 
      margin-right: 4rem
    

    &.square.right .content 
      margin-left: 4rem
    

    .slider-pagination,
    .slider-controls 
      width: 100%
    
  

