#gallery-grid

  position: relative

  +breakpoint(small only) 
    padding-top: 0

  .gallery-items-holder 
    z-index: 1

  .filters 
    margin-bottom: 40px

    +breakpoint(small only) 
      flex-direction: column 
      align-items: flex-start

  .filters li 
    margin-right: rem-calc(100px)
  
  .gallery-menu
    a
      text-decoration: none
      font-family: $presicav_bold

  .filters button 
    color: $black

  .filters button:hover,
  .filters button:focus,
  .filters button.active 
    color: #B46848
    border-bottom: 1px solid #B46848

  .gallery-grid a,
  .gallery-grid button
    width: 100% 
    display: block
    margin-bottom: 1.5rem
    appearance: none

    img 
      width: 100%
      height: 360px
      transition: transform 0.5s ease-out-expo
      object-fit: cover

      +breakpoint(medium down) 
        height: 300px

      +breakpoint(small only) 
        height: 150px
    

    &:focus 
      outline: none
    

    &:hover 
      &::before 
        opacity: 1
      

      img 
        transform: scale(1.1)

  .video 
    position: relative

    &::before 
      content: ""
      position: absolute
      z-index: 1
      left: calc(50% - 20px)
      top: calc(50% - 20px)
      display: block
      width: 40px
      height: 40px
      background: url("../assets/images/play.svg") 50% 50% no-repeat
      background-size: 100% 100%
      opacity: 0.75
      transition: opacity 0.25s

  @include breakpoint(medium) 
    .video::before 
      left: calc(50% - 30px)
      top: calc(50% - 30px)
      width: 60px
      height: 60px


.gallery-menu-mobile
  display: none          

.gallery-dropdown
  button
    border: solid 1px black
    padding: 15px
    width: 180px
    margin-bottom: 0px
    background-color: #B46848
    color: white
  
    &:hover
      background-color: white 
      color: #B46848 

.gallery-dropdown-menu 
  display: none !important
  list-style: none !important

.gallery-dropdown:hover, .gallery-dropdown:focus, button:hover
  .gallery-dropdown-menu
    margin-left: 0px !important
    display: block !important
    text-align: center
    border: solid 1px black
    padding: 15px
    margin-top: 0px
    background-color: white
    border-top: 1px solid #B46848
    li
      margin-right: 0px !important 
      a 
        color: #B46848
        text-decoration: none 
      a:hover
        color: #B46848
        text-decoration: underline
        cursor: pointer


@media only screen and (max-width: 768px)
  .gallery-menu
    display: none !important
   
  .gallery-menu-mobile
    display: flex 
    justify-content: center
    margin-top: 40px 
    margin-bottom: 40px


