.headline-copy 

  h2 
    color: $white
    font-size: rem-calc(104px)
    text-transform: uppercase
    text-indent: -1.9em 
    margin-left: 2em

    +breakpoint(large down) 
      font-size: rem-calc(84px)

    +breakpoint(medium down)
      font-size: rem-calc(48px)

    +breakpoint(small only)
      font-size: rem-calc(32px)

  p 
    color: $white