section.hero

  position: relative
  height: calc(100vh - 157px)
  background-size: cover 
  background-repeat: no-repeat
  background-position: center center
  display: flex 
  align-items: center 
  justify-content: center 

  +breakpoint(medium down) 
    height: calc(100vh - 60px)

  .jumbo-banner-content  
    position: relative 
    align-items: center 

  .banner-logo

    +breakpoint(medium down) 
      +breakpoint(landscape)
        max-width: 150px

    +breakpoint(small only) 
      max-width: 150px

  h1
    text-transform: uppercase

  h2
    margin-top: 3rem
    text-transform: uppercase

  p  
    color: $white
    //font-family: $monospace 
    font-weight: 600 
    font-style: normal 
    text-transform: uppercase 
    font-size: rem-calc(24px)

    +breakpoint(medium down) 
      font-size: rem-calc(16px)

  &::before  
    content: ''
    width: 100% 
    height: 100% 
    position: absolute 
    left: 0 
    bottom: 0 

  .live-chat
    position: fixed
    left: -45px
    top: 45vh
    -ms-transform: translateY(-50%) rotate(-90deg)
    transform: translateY(-50%) rotate(-90deg)
    width: 138px
    height: 49px
    background-color: $black
    text-align: center
    font-size: 16px
    color: $black
    border-bottom: 1px solid $black 
    border-left: 1px solid $black
    border-right: 1px solid $black 
    line-height: 49px
    cursor: pointer
    text-decoration: none
    text-transform: uppercase
    transition: background-color .3s ease
    z-index: 1

    &:hover 
      background-color: $white 
      color: $black
    
  .text-us
    position: fixed
    left: -45px
    top: calc(45vh + 158px)
    -ms-transform: translateY(-50%) rotate(-90deg)
    transform: translateY(-50%) rotate(-90deg)
    width: 138px
    height: 49px
    background-color: $white
    text-align: center
    font-size: 16px
    color: $black
    border-bottom: 1px solid $black 
    border-left: 1px solid $black
    border-right: 1px solid $black 
    line-height: 49px
    cursor: pointer
    text-decoration: none
    text-transform: uppercase
    transition: background-color .3s ease
    z-index: 1

    +breakpoint(medium down) 
      display: none

    &:hover 
      background-color: $black
      color: $black
