.hero-subpage  
  position: relative
  height: 40vh
  background-size: cover 
  background-repeat: no-repeat
  background-position: center center
  display: flex 
  align-items: center 
  justify-content: center 

  .hero-content 
    position: relative

  .copy-box 
    position: absolute
    left: 7rem
    bottom: -5rem

    +breakpoint(medium down)
      position: static

    +breakpoint(small only) 
      position: static

  
  .home-copy
    text-align: center
    h2 
      font-size: 78px

      +breakpoint(medium down)
        font-size: 50px

      +breakpoint(small down) 
        font-size: 24px

  .copy 
    width: 585px 
    height: 285px
    display: flex 
    align-items: center
    background-color: $white
    padding: 40px
    color: $black

    +breakpoint(large down)
      +breakpoint(landscape)
        width: 440px
        height: 215px

    +breakpoint(medium down)
      width: 100%
      height: auto

    +breakpoint(small only) 
      width: 100%
      height: auto

    h3 
      font-size: rem-calc(50px) 
      text-transform: uppercase
      letter-spacing: .05em 

      +breakpoint(large down)
        font-size: rem-calc(44px)

      +breakpoint(small only)
        font-size: rem-calc(32px)

  video 
    width: 100%

  .live-chat
    position: fixed
    left: -45px
    top: 45vh
    -ms-transform: translateY(-50%) rotate(-90deg)
    transform: translateY(-50%) rotate(-90deg)
    width: 138px
    height: 49px
    background-color: $black
    text-align: center
    font-size: 16px
    color: $black
    border-bottom: 1px solid $black 
    border-left: 1px solid $black
    border-right: 1px solid $black 
    line-height: 49px
    cursor: pointer
    text-decoration: none
    text-transform: uppercase
    transition: background-color .3s ease
    z-index: 3

    &:hover 
      background-color: $white 
      color: $black
    
  .text-us
    position: fixed
    left: -45px
    top: calc(45vh + 158px)
    -ms-transform: translateY(-50%) rotate(-90deg)
    transform: translateY(-50%) rotate(-90deg)
    width: 138px
    height: 49px
    background-color: $white
    text-align: center
    font-size: 16px
    color: $black
    border-bottom: 1px solid $black 
    border-left: 1px solid $black
    border-right: 1px solid $black 
    line-height: 49px
    cursor: pointer
    text-decoration: none
    text-transform: uppercase
    transition: background-color .3s ease
    z-index: 2

    +breakpoint(medium down) 
      display: none

    &:hover 
      background-color: $black
      color: $black

  .decor1 
    width: 244px 
    height: 20px
    position: absolute 
    top: 50%
    transform: translateY(-50%)
    left: -6rem
    background: url(../assets/images/hero-decor1.svg) center center / cover no-repeat
    z-index: 0

    +breakpoint(xxlarge down)
      left: -3rem

    +breakpoint(xlarge down)
      left: 0rem

    +breakpoint(large down) 
      left: 0rem

    +breakpoint(medium down)
      display: none

    +breakpoint(small only) 
      display: none

  .decor2
    width: 288px 
    height: 20px
    position: absolute 
    top: auto 
    bottom: 6rem
    right: -6rem
    background: url(../assets/images/hero-decor2.svg) center center / cover no-repeat
    z-index: 0

    +breakpoint(xxlarge down) 
      right: -3rem

    +breakpoint(xlarge down)
      right: 0rem

    +breakpoint(large down) 
      right: 0rem

    +breakpoint(medium down)
      display: none

    +breakpoint(small only) 
      display: none

