.image-slider 

  position: relative
  background-size: cover 
  background-repeat: no-repeat
  background-position: center center
  z-index: 0

  +breakpoint(small only) 
    padding-bottom: 3rem !important

  h2 
    color: $white
    font-size: rem-calc(50px) 
    text-transform: uppercase
    letter-spacing: .1em

  .button 
    margin-top: 3rem

    +breakpoint(small only)
      margin-top: 6rem

  .alta-slider 
    max-height: 400px

  .slick-loading .slick-list 
    background: unset

  .slick-slide 
    margin: 0 10px
  
  .slick-arrow 
    width: 56px
    height: 56px
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    
    &.slick-next 
      right: -5% 

    &.slick-prev 
      left: -5% 

    &:before 
      display: none

  img 
    width: 95% 
    display: block 
    margin: 0 auto