.image-copy

  &.offset
    .copy-box 
      .copy
        transform: translateY(-15%)

        +breakpoint(small only) 
          transform: translateY(0)

  &.switch 
    .image 
      order: 2

  &.pets 
    .image 
      max-height: 400px

    .copy 
      //padding: 0 100px

      +breakpoint(medium down) 
        padding-top: rem-calc(32px)
        padding-bottom: rem-calc(32px)

      +breakpoint(small only) 
        padding-top: rem-calc(32px)
        padding-bottom: rem-calc(32px)

  h2 
    font-size: rem-calc(50px) 
    color: $white
    text-transform: uppercase
    letter-spacing: .15em

  h3 
    margin-top: 0
    color: #B46848
    margin-left: -2rem

  h6 
    color: $black 
    //font-family: $monospace
    font-weight: 600
    text-transform: uppercase 
    letter-spacing: .075em

  p 
    color: $gray
    font-family: $quarto_light
  
  ul
    li
      font-family: $quarto_light
    

  .image-copy-inner,
  .map-copy-inner
    position: relative

    +breakpoint(small only) 
      padding: 0

  .map-copy-inner 
    .copy 
      background-color: #B46848

      .title-large 
        color: $white

      p 
        color: $white
    
    .form-copy
      span
        font-family: $quarto_light

  .imageWrapper 
    position: relative
    display: block
    width: 100%
    height: 100%
    padding: 0
    overflow: hidden

    &:before 
      content: '' 
      display: block

      +breakpoint(small only) 
        display: none

  img
    width: 100%
    height: 100%
    border: 0
    object-fit: cover 

    +breakpoint(small only) 
      position: static

  .copy 
    height: 100%
    background-color: $gray-light
    padding: 70px
    color: $gray

    +breakpoint(medium down) 
      padding: rem-calc(32px)

    +breakpoint(small only) 
      padding: rem-calc(32px)

    .copy-box-copy
      padding: 50px

  #map 
    +breakpoint(medium down) 
      height: 360px !important

  .gform_wrapper 
    margin-top: 1.5rem

  .gform_button 
    background-color: $white
    color: $brown
    cursor: pointer

    &:hover
      background-color: $brown
      color: $white
      border: solid 1px $white

  .gform_confirmation_message 
    color: #fff

  .gform_wrapper.gravity-theme .gfield input.large
    background-color: transparent 
    color: $white
    border: 0 
    border-bottom: 1px solid $white
    box-shadow: none

  .gform_ajax_spinner
    display: none !important
    
  ::-webkit-input-placeholder
    color: $white
    font-size: rem-calc(12px)
    font-weight: 200
    letter-spacing: .1em

  ::-moz-placeholder
    color: $white
    font-size: rem-calc(12px)
    font-weight: 200
    letter-spacing: .1em

  ::-ms-input-placeholder
    color: $white
    font-size: rem-calc(12px)
    font-weight: 200
    letter-spacing: .1em

  ::-moz-placeholder
    color: $white
    font-size: rem-calc(12px)
    font-weight: 200
    letter-spacing: .1em

#floorplans-image-copy
  background-size: cover

  .image-copy-inner
    padding-top: 4rem
    padding-bottom: 4rem

#background-image-copy
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: -9rem
      
  .image-copy-inner
    margin-bottom: 9rem

.top-image-copy
  margin-top: 20rem

  .image-copy-inner
    margin-top: -20rem

.home-horizontal-image-copy
  .grid-container
    padding: 0px !important
    
    .copy
      background-color:#57534C
      h3, p
        color: white

      button
        background-color: #B46848
        color: white

        &:hover
          background-color: white
          color: #B46848



@media only screen and (max-width: 450px )
  .copy-box-copy
    padding: 20px !important

  h3
    font-size: 20px