.image-copy-subpage 

  position: relative
  overflow-x: hidden
  z-index: 1
  background-size: cover 
  background-repeat: no-repeat
  background-position: center center

  &.switch .cell:first-of-type
    order: 2

  .grid-x
    flex-direction: row-reverse

  .image-copy-subpage-copy
    background-color: white 

  .copy 

    h2 
      color: #AB6B4E
      font-size: 28px
      font-weight: 700

    ul 
      list-style: disc
      margin-left: 1.5rem

    ul li 
      font-size: rem-calc(14px)
      font-weight: 700
      margin-top: 1rem
      line-height: 1.2

      &.asterisk 
        list-style: none

    ul li:first-child 
      margin-top: 0

  .decor1
    content: '' 
    width: 135px 
    height: 360px 
    position: absolute
    left: -2.5%
    top: 10%
    background: url('../assets/images/floorplans-decor1.svg') center center / contain no-repeat
    z-index: -1

    +breakpoint(medium down)
      display: none

    +breakpoint(small only) 
      display: none

  .decor2
    content: '' 
    width: 136px 
    height: 360px 
    position: absolute
    right: -2.5%
    bottom: 10%
    background: url('../assets/images/floorplans-decor1.svg') center center / contain no-repeat
    z-index: -1

    +breakpoint(medium down)
      display: none

    +breakpoint(small only)
      display: none

  h3 
    text-transform: uppercase
    letter-spacing: .1em

  .copy-title 
    //font-family: $monospace
    font-weight: 600
    text-transform: uppercase