section.image-copy-home

  background-repeat: no-repeat
  background-size: cover 
  background-position: center center
  padding: 0px !important

  .box 
    width: 607px
    min-height: 600px
    display: flex 
    flex-direction: column 
    justify-content: center
    position: relative
    background: $white
    padding: 6rem 8%
    border-top: 3px solid $white 
    border-right: 3px solid $white 
    border-bottom: 3px solid $white
    color: white

    +breakpoint(medium down) 
      padding: 3rem 8%
      width: 100%
      border-left: 3px solid $white

    +breakpoint(small only) 
      padding: 3rem 2rem

    .decor 
      width: 143px 
      height: 14px
      position: absolute 
      top: -7px
      left: 0

  .copy
    padding-left: 3rem

    +breakpoint(medium down) 
      padding-left: 0

  h2 
    color: white
    font-size: rem-calc(28px)
    text-transform: uppercase

    +breakpoint(small only) 
      font-size: rem-calc(28px)

  p 
    font-family: $quarto_light

  ul 
    line-height: 1.8rem

  ul li 
    font-family: $quarto_light


  .home-copy-right
    padding: 250px 100px
    background-color: #57534C

    h2, p
      color: white
    
    button
      background-color: #B46848
      color: white
      font-size: 14px

      &:hover
        background-color: white
        color: #B46848

@media only screen and (max-width: 1859px)
  .home-copy-right
    padding: 160px 100px !important

@media only screen and (max-width: 1580px)
  .home-copy-right
    padding: 90px !important

@media only screen and (max-width: 1360px)
  .home-copy-right
    padding: 40px !important

@media only screen and (max-width: 1085px)
  .home-copy-right
    padding: 20px !important

@media only screen and (max-width: 767px)
  .home-copy-right
    padding: 60px !important

@media only screen and (max-width: 375px)
  .home-copy-right
    padding: 30px !important


