.image-slider-subpage

  position: relative

  h2 
    color: $white
    font-size: rem-calc(50px) 
    text-transform: uppercase
    letter-spacing: .1em

    +breakpoint(small only) 
      font-size: rem-calc(32px)

  .button 
    margin-top: 3rem

  .alta-slider 
    margin-top: 3rem

    img 
      width: 100%

  .slick-slide 
    margin: 0 10px
  
  .slick-arrow 
    width: 100px
    top: auto 
    bottom: -3rem
    
    &.slick-next 
      right: 0 

    &.slick-prev 
      left: 0 

    &:before 
      display: none

  .decor1 
    width: 426px 
    height: 20px
    position: absolute 
    top: 9rem
    left: 1rem
    background: url(../assets/images/slider-decor1.svg) center center / cover no-repeat
    z-index: 1

  .decor2
    width: 288px 
    height: 20px
    position: absolute 
    top: auto 
    bottom: 12rem
    right: 1rem
    background: url(../assets/images/slider-decor2.svg) center center / cover no-repeat
    z-index: 1