section.image-copy-two-column

  position: relative
  background-size: cover 
  background-repeat: no-repeat 
  background-position: center center
  margin-bottom: -9rem

  &.nopadding-bottom

    +breakpoint(large down)
      padding-top: 6rem 
      padding-bottom: 6rem

  .box-wrapper 

    +breakpoint(large down) 
      margin-bottom: 0

  .box.left 
    background-color: $gray-light 
    padding: 5.75rem 8.75rem

    +breakpoint(xlarge only) 
      padding: 5rem

    +breakpoint(medium down) 
      padding: 3rem 8%

    +breakpoint(small only) 
      padding: 3rem 2rem

    h3 
      color: $brown
      text-transform: uppercase
      margin-left: -2rem

      +breakpoint(medium down)
        margin-left: 0

    p 
      font-family: $quarto_light

    li 

      font-family: $quarto_light

      &::marker
        font-size: 14px

    button
      background-color: #B46848
      color: white
      font-size: 14px
    
      &:hover
        background-color: #f4f4f4
        color: #B46848
        border: solid 1px #B46848

  .box.right 
    background-color: $brown
    padding: 5.75rem 8.75rem

    +breakpoint(xlarge only) 
      padding: 5rem

    +breakpoint(medium down) 
      padding: 3rem 8%

    +breakpoint(small only) 
      padding: 3rem 2rem

    h3 
      color: $white
      text-transform: uppercase
      margin-left: -2rem

      +breakpoint(medium down)
        margin-left: 0

    p 
      color: $white
      font-family: $quarto_light

    a
      margin-top: 3rem

    li 
      font-family: $quarto_light
      color: $white

      &::marker 
        font-size: 14px
    
    button
      background-color: white
      color: #B46848
      font-size: 14px
    
      &:hover
        background-color: #B46848
        color: white
        border: solid 1px white
    
    .neighborhood-button
      margin-top: 1.5rem

  img 
    width: 100%
    height: 458px
    position: relative 
    z-index: 1
    object-fit: cover