.neighborhood-map

  position: relative
  padding-top: 6rem !important

  &:after 
    content: '' 
    width: 300px 
    height: 90%
    position: absolute 
    top: 0 
    right: 0
    z-index: 1

    +breakpoint(medium down) 
      display: none

  .section-title
    color: #B46848
    text-align: left
    padding-bottom: 40px

  // Commented out as I saw filters bleeding through nav header
  // .filters-holder 
  //   z-index: 9999

  .filters
    margin-bottom: 40px

  .map-holder 
    position: relative
    z-index: 0

  .map
    position: relative 
    margin-bottom: 3rem
    padding-top: 60%
    background-color: darken($gray, 2%)
    color: $black
    z-index: 9999

  ul.locations 
    list-style: none
    columns: 4

    +breakpoint(medium down) 
      display: flex 
      flex-direction: column

  ul.locations li
    color: black
    cursor: pointer

  @include breakpoint(medium)
    ul.locations
      columns: 4 
      column-gap: 40px

  // @include breakpoint(large)
  //   ul.locations
  //     columns: 3

// .location-features-section
//   display: none

ul.features
  list-style-type: none
  padding: 0

  li
    display: inline-block
    font-weight: normal
    width: 280px


ul.filters
  display: flex
  flex-flow: row wrap
  align-items: center
  list-style-type: none

  li
    margin-right: 2rem

    &:last-child
      margin-right: 0

  button
    appearance: none
    border: none
    margin: 5px
    padding: 10px 5px
    cursor: pointer
    text-transform: uppercase
    font-family: $presicav_bold
    font-size: rem-calc(16px)
    font-weight: 700
    letter-spacing: .1em
    color: $black
    border-bottom: 1px solid transparent
    transition: color 0.25s, border-bottom 0.25s

    &:hover, 
    &:focus,
    &:active
      outline: none
      border-bottom: 1px solid #B46848
      color: #B46848

  @include breakpoint(large)
    justify-content: flex-start

.map-menu-mobile
  display: none          

.map-dropdown
  button
    border: solid 1px black
    padding: 15px
    width: 180px
    margin-bottom: 0px
    background-color: #B46848
    color: white
  
    &:hover
      background-color: white 
      color: #B46848 

.map-dropdown-menu 
  display: none
  list-style: none !important

.map-dropdown:hover, .map-dropdown:focus 
  .map-dropdown-menu
    margin-left: 0px !important
    display: block
    text-align: center
    border: solid 1px black
    padding: 15px
    margin-top: 0px
    background-color: white
    border-top: 1px solid #B46848
    li 
      a 
        color: #B46848
        text-decoration: none 
      a:hover
        color: #B46848
        text-decoration: underline
        cursor: pointer

@media only screen and (max-width: 768px)
  .map-menu
    display: none
   
  .map-menu-mobile
    display: flex
    justify-content: center
    margin-top: 40px 
    margin-bottom: 40px

  .map
    height: 500px