.video-copy 

  h2 
    font-size: rem-calc(50px) 
    color: $white
    text-transform: uppercase
    letter-spacing: .15em

    +breakpoint(medium down) 
      font-size: rem-calc(36px)

  h3 
    color: $black
    text-transform: uppercase
    letter-spacing: .18em

  h6 
    color: $black 
    //font-family: $monospace
    font-weight: 600
    text-transform: uppercase 
    letter-spacing: .075em

  p 
    color: $gray

  .video-copy-inner
    position: relative
    padding: rem-calc(70px) 0

    +breakpoint(small only) 
      padding: 0 
      padding-top: 3rem

  .videoWrapper 
    position: relative
    display: block
    width: 100%
    padding: 0
    overflow: hidden

    &:before 
      content: '' 
      display: block
      padding-top: 56.25%

  video 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    border: 0

  .copy-box 
    position: absolute
    right: 0
    bottom: 0

    +breakpoint(medium down)
      position: static

    +breakpoint(small only) 
      position: static

  .copy 
    background-color: $white
    padding: 40px
    color: $gray

