.virtual-tours-page-title
  padding-top: 21rem

  .grid-x
    display: flex
    justify-content: center
    .cell
      text-align: center
      .title-overlay
        width: 50%

    .page-title
      // font-family: $TradeGothicBoldCondensed20
      font-size: 146px
      margin-top: -160px
  
  
.virtual-tours
  padding-top: 6rem

.virtual-tours-header
  margin-bottom: 60px
  text-align: center

.virtual-tours-title
  // font-family: $TradeGothic
  font-weight: 700
  font-size: 28px
  margin-top: -70px
  color: #AB6B4E

.virtual-tours-title_overlay
  width:  30%

.virtual-tour-indv-title
  font-family: $presicav_bold
  font-weight: 700
  font-size: 24px
  float: left
  margin: 1.5rem 0rem 3.5rem !important

@media only screen and (max-width: 640px)
  .virtual-tours-title
    font-size: 32px
