section.welcome 

  background-repeat: no-repeat
  background-size: cover
  background-position: center top

  .welcome-wrapper 
    transform: translateY(-20%)

    +breakpoint(large down) 
      transform: translateY(-5%)

    +breakpoint(medium down) 
      transform: translateY(-10%)

  .welcome-inner 
    .decor 
      width: 622px
      height: 14px
      position: absolute 
      top: -7px
      right: 0

  .copy-box 
    position: relative
    padding: 3rem 5% 3rem 8%

    +breakpoint(small only) 
      padding: 3rem 2rem

    h3 
      color: $brown
      text-transform: uppercase
      margin-left: -3rem
      margin-top: 0

      +breakpoint(xlarge down) 
        margin-left: -3rem 
        padding-left: 0
        text-indent: 0

      +breakpoint(medium down) 
        text-indent: 0
        margin-left: 0
        padding-left: 0

    p 
      font-family: $quarto_light

    .now-leasing
      font-family: $presicav_bold
      font-size: rem-calc(18px)
      text-transform: uppercase
      letter-spacing: .1em

  // Below allows image to fill the height of a cell that's slightly too small, where object-fit does not work

  img 

    width: 100%
    max-width: 100%
